{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}

	
	<div class="container my-5">
		<div class="row">
		{% for a in annonces %}
			<div class="col-md-4 col-lg-3">
				<div class="card mb-3">
					<small class="card-header text-center">{{ a.rooms }} chambres {{ a.formatedPrice }} F /mois <br> 
					<u> {{ a.comments| length }} commentaires</u></small>

					<img src="{{asset('uploads/cover_images/' ~ a.imageCover)}}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
						<rect width="100%" height="100%" fill="#868e96"></rect>
						<text x="50%" y="50%" fill="#dee2e6" dy=".3em"></text>
					</img>
					<div class="card-body">
						 <h5 style='text-align:center;'><a href="{{ path('annonces.show',{id: a.id, slug:  a.slug}) }}">
						 {{ a.title }}</a></h5>
						<p class="card-text">{{ a.introduction}}</p>
					</div>
					<div class="card-footer text-muted text-center">
						{# {{annonces.creat_at }} #}
						<i class="fas fa-map-marker-alt"></i>
						<small>{{a.adresse}}</small> <br><small>{{ a.creatAt|ago(locale='fr') }}</small> 
					</div>
				</div>
			</div>
		{% endfor %}	
		</div>
	</div>
	
{% endblock %}
