{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}

	<div class="container mt-4">
		<h2 class="text-center mb-5">Publier une Annonce</h2>
		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-4">{{ form_row(form.title) }}</div>
			<div class="col-md-4">{{ form_row(form.introduction) }}</div>
		</div>
		<div class="row">
			<div class="col-md-4">{{ form_row(form.imageCover) }}</div>
			<div class="col-md-6">{{ form_row(form.description) }}</div>
		</div>
		<div class="row">
			<div class="col-md-4">{{ form_row(form.rooms) }}</div>
			<div class="col-md-4">{{ form_row(form.adresse) }}</div>
		</div>
		<div class="row">
			<div class="col-md-4">{{ form_row(form.price) }}</div>
			<div class="col-md-4">{{ form_row(form.isAvailable) }}</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<button type="submit" class="btn btn-primary">Nouvelle annonce</button>
			</div>
		</div>
		{{ form_end(form)}}

	</div>

{% endblock %}
