{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
	<div class="container-fluid mt-4">
		<h1 class="text-center">Gérer les annonces</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Prix</th>
                    <th>Adresse</th>
                    <th> Disponibilité</th>
					<th>Actions</Disponibilité>
				</tr>
			</thead>
			<tbody>
				{% for a in annonces %}


					<tr>
						<td>{{ a.title }}</td>
						<td>{{ a.price }}</td>
						<td>{{ a.adresse }}</td>
						{% if  a.isAvailable == true %}
						<td><i class="fas fa-toggle-on"></i></td>
						{% else %}
							<td><i class="fas fa-toggle-off"></i></td>
						{% endif %}
						<td><a href="{{ path('annonces.admin.edit', {id: a.id}) }}" class="btn btn-secondary">
                            <i class="fas fa-edit"></i></a>
							<a href="{{ path('annonces.admin.delete', {id: a.id}) }}" class="btn btn-danger" 
                            onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette annonce ?')" >
                            <i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-3">
				<div class="btn btn-secondary">
					<a href="{{ path('annonces.create')}}">Publier une annonce</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
